doctype html
html(lang="en")
	head
		title USGS Linked-Data
		//- link(rel='stylesheet', type='text/css', href='/styles/pub.css')
		//- link(rel='stylesheet', type='text/css', href='/styles/geometry.css')
		//- link(rel='stylesheet', type='text/css', href='/resource/leaflet.css')
		//- script(src='/scripts/geometry.js')
	body
		h1 USGS Linked-Data
		h2 Dereferencing Interface for GNIS and CEGIS features.
