doctype html
html(lang="en")
	head
		title USGS Linked-Data Geometry Feature
		link(rel='stylesheet', type='text/css', href='/styles/pub.css')
		link(rel='stylesheet', type='text/css', href='/styles/geometry.css')
		link(rel='stylesheet', type='text/css', href='/resource/leaflet.css')
		script(src='/scripts/geometry.js')
	body
		h1 USGS Linked-Data
		#layout
			section#formats
			section#map
